<div class="container-fluid page">
  <div class="page__content p-3 position-relative">
    <div class="page__content-data">
      <div>
        <div class="row">
          <h4>Dasbor Sistem Informasi AIMFACT</h4>
        </div>

        <div class="row">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex
            recusandae fuga neque ut est quae, veritatis eum laborum incidunt
            minus illo pariatur rem eligendi mollitia quam tempora repellat,
            illum modi.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
