<mat-nav-list class="ml-2">
  <div class="logo py-4">
    <h3 class="nav-title ml-2">ANGULAR</h3>
  </div>
  <mat-divider></mat-divider>
  <h5 matSubheader class="mt-2 text-white">Menu</h5>
  <!-- <a mat-list-item routerLink="/home" routerLinkActive="list-item-active"><mat-icon>home</mat-icon> Home</a> -->
  <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"
    ><mat-icon>dashboard</mat-icon> Dashboard</a
  >
  <a mat-list-item routerLink="/chat" routerLinkActive="list-item-active"
    ><mat-icon>chat</mat-icon> Chat</a
  >
  <!-- <mat-divider class="mt-4"></mat-divider>
  <h5 matSubheader class="mt-2 text-white">Superadmin</h5>
  <a mat-list-item routerLink="/user" routerLinkActive="list-item-active"
    ><mat-icon>dashboard</mat-icon> User</a
  > -->
</mat-nav-list>
